@font-face {
    font-family: 'Inter';
    src: url(../assets/fonts/Inter-VariableFont_slnt,wght.ttf) format('truetype');
    font-style: normal;
    font-weight: 400 700;
    font-display: swap;
}

:root {
    --green: hsl(75, 94%, 57%);
    --white: hsl(0, 0%, 100%);
    --grey-700: hsl(0, 0%, 20%);
    --grey-800: hsl(0, 0%, 12%);
    --grey-900: hsl(0, 0%, 8%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
    font-family: 'Inter';
    font-size: 14px;
    background: var(--grey-900);
    color: var(--white);
}

.profile-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 346px;
    padding: 36px;
    border-radius: 12px;
    background: var(--grey-800);
}

.profile-card__image-profile {
    border-radius: 50%;
    width: 80px;
}

.profile-card__name {
    font-size: 1.35rem;
    font-weight: 600;
    margin: 24px 0 6px 0;
}

.profile-card__location {
    color: var(--green);
    font-size: 0.790rem;
    font-weight: 900;
    line-height: 0px;
    margin: 10px;

}

.profile-card__bio {
    font-size: 0.790rem;
    font-weight: 400;
    margin: 24px 0;
}

.profile-card__social-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 14px 0;
    list-style-type: none;
}

.profile-card__social-link {
    display: block;
    padding: 12px 80px;
    border-radius: 8px;
    background: var(--grey-700);
    color: var(--white);
    text-decoration: none;
    text-align: center;
    font-size: 0.8rem;
    font-weight: 600;
}

.profile-card__social-link:hover, .profile-card__social-link:focus {
    background: var(--green);
    color: var(--grey-900);
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}